*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
}


#nav-part2{
    display: flex;
    align-items: center;
    gap: 50px;
}
#nav h3{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
}
#main h1{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 100px;
    /* background-color: red; */
    width: 80%;
    position: relative;
    z-index: 9;
    margin-left: 10%; 
}
#main h1:nth-child(2){
    margin-top: 180px;
}
#main h1:nth-child(3){
    text-align: center;
}
#main h1:nth-child(4){
    text-align: center;
}

img{
    height: 380px;
    position: absolute;
    top: 8%;
    left: 40%;
}
#img1{
    rotate:20deg;
}
#img2{
    rotate:15deg;
}


#img3{
    rotate:10deg;
}



